
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    color: #008F11;
    background-color: #0D0208;
}

h1{
    color:#065a06;
    text-align: center;
    font-size: 1.5em;

    border-style: solid;
    border-width:4px;
    border-color:#3a3a3a;
    text-shadow: -2px, 2px, 2px, #013501;
}

h2{
    color:#068306;
    margin: 20px;
    padding: 40px;
    margin-left: 20px;

}