
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    color: #00b215;
    background-color: #0D0208;
}

p{
    line-height:1.5em;
}

#opening{
    border-style: solid;
    border-width: 4px;
    border-color: rgb(34, 0, 55);
}
hr.open{
   background-color:rgb(34, 0, 55);
   border-color:rgb(34, 0, 55);
   height:4px 
}

#cyberpunkworlds{
    border-style: solid;
    border-width: 4px;
    border-color:rgb(105, 0, 80);
}
hr.cworlds{
    background-color:rgb(105, 0, 80);
    border-color:rgb(105, 0, 80);
    height:4px
}

#ourworld{
    border-style: solid;
    border-width: 4px;
    border-color:#004100
}
hr.realworld{
    background-color:#004100;
    height:4px;
    border-color: #004100;
}

#losangeles{
    border-style: solid;
    border-width: 4px;
    border-color:rgb(3, 85, 117);
}
hr.LA{
    background-color:rgb(3, 85, 117);
    height:4px;
    border-color:rgb(3, 85, 117);
}

#conclusion{
    border-style: solid;
    border-width: 4px;
    border-color:rgb(20, 3, 117);
}
hr.thus{
    background-color:rgb(20, 3, 117);
    height:4px;
    border-color:rgb(20, 3, 117);
}

h1{
    color:#d33cd5;
    text-align: center;
    font-size: 3.5em;
    border-style: solid;
    border-width:4px;
    border-color:#4a006a;
    text-shadow: -2px, 2px, 2px, #8a378e;
}

h2{
    color:#59ebce;
    margin: 20px;
    padding: 40px;
    font-size: 2em;
    margin-left: 20px;
    font-weight:bold;
}

h3{
    font-size: 1.5em;
    font-style:italic;
    text-align: right;
    margin-left: 1in;
}

h4{
    font-size: 1.5em;
    font-style:italic;
    text-align:left;
    margin-right: 1in;
    color: rgb(0, 120, 167);
}





